<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="live2d.min.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 06 Sep 2021 00:00:00 GMT" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="jquery.min.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 06 Sep 2021 00:00:00 GMT" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="message.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 06 Sep 2021 00:00:00 GMT" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="LAppDefine.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 06 Sep 2021 00:00:00 GMT" />
            </staticContent>
        </system.webServer>
    </location>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 06 Sep 2021 00:00:00 GMT" />
        </staticContent>
    </system.webServer>
</configuration>
