<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="live2d.js" />
                <add value="model.json" />
            </files>
        </defaultDocument>
    </system.webServer>
    <location path="live2d.js">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseExpires" httpExpires="Mon, 06 Sep 2021 00:00:00 GMT" />
            </staticContent>
            <httpProtocol allowKeepAlive="true" />
        </system.webServer>
    </location>
</configuration>
